.navbar{
    display: flex;
    background-color: rgb(3, 127, 209);
}
.site_name{
    color: aliceblue;
    padding: 5px 10px;
}
.site-menu{
    padding: 3px 10px;
    margin-left: 100px;
}
a{
    text-decoration: none;
    color: bisque;
    margin: 0px 10px;
}